{% extends 'base.html.twig' %}

{% block main %}

    <form action="{{ path("app_task_addtask") }}" method="post">
        <select  name="serviceType">
            <option value="manHaircut">Strzyżenie męskie</option>
            <option value="womanHaircut">Strzyżenie damskie</option>
            <option value="permanent">Trwała</option>
        </select>
        <input type="time" name="startTime" placeholder="Godzina (format: hh:mm)">
        <input type="text" value="{{ year }}-{{ month }}-{{ day }}" name="date" readonly>
        <input type="submit" value="Wyślij">
    </form>
    <form action="{{ path('app_task_gettasks', {'year': year, 'month': month, 'day': day}) }}">
        <input type="submit" value="Pokaż plan na ten dzień">
    </form>


{% endblock %}